* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

#main-container {
    background: red;
    padding: 20px;
    max-width: 900px;
}

#stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
    gap: 16px;
    flex-wrap: wrap;
    background: lime;
}

#seesaw {
    width: 800px;
    height: 500px;
    background: yellow;
}

#seesaw-input {
    width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
}

#seesaw-plank {
    position: absolute;
    width: 100%;
    height: 20px;
    background: brown;
    bottom: 25%; /* 500 / 4 = 125px */
    border-radius: 5px;
}

#seesaw-pivot {
    position: absolute;
    width: 35px;
    height: 35px; /* 125 - 100 + 20/2 (height of the plank) */
    background: darkgray;
    bottom: 20%; /* 500 / 5 = 100px */
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.weight {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: blue;
    position: absolute;
    transition: bottom 0.5s;
}

#controls {
    background: aqua;
    width: 800px;
    height: 150px;
}

#log {
    background: orange;
    width: 800px;
    height: 150px;
}
