* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: #EFE9E3;
    font-family: sans-serif;
}

#main-container {
    padding: 20px;
    max-width: 900px;
}

#stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
    gap: 16px;
    flex-wrap: wrap;
}

.stat-box {
    background: #ffffff;
    padding: 12px 22px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.stat-label {
    margin-bottom: 6px;
}

#seesaw {
    width: 800px;
    height: 500px;
    background: #F9F8F6;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

#seesaw-input {
    width: 60%;
    height: 100%;
    margin: auto;
    position: relative;
}

#seesaw-plank {
    position: absolute;
    width: 100%;
    height: 20px;
    background: #C9B59C;
    bottom: 25%; /* 500 / 4 = 125px */
    border-radius: 5px;
    transition: transform 0.5s;
}

#weight-preview {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(217, 207, 199, 0.4); /* same as weight */
    position: absolute;
    pointer-events: none;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

#seesaw-pivot {
    position: absolute;
    width: 35px;
    height: 35px; /* 125 - 100 + 20/2 (height of the plank) */
    background: darkgray;
    bottom: 20%; /* 500 / 5 = 100px */
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.weight {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #D9CFC7;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: bottom 0.5s;
}

#controls {
    width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

#reset-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #C9B59C;
    cursor: pointer;
    transition: all 0.5s ease;
}

#reset-button:hover {
    background-color: #c9aa83;
    transform: scale(1.05);
}

#reset-button:active {
    transform: scale(0.95);
}

#log {
    width: 800px;
    padding: 10px 20px;
    margin: 20px auto;
    height: 150px;
    background: #F9F8F6;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    font-size: 14px;
    overflow-y: auto;
}

.log-content {
    padding: 4px 8px;
    background-color: #D9CFC7;
    border-radius: 4px;
    margin-bottom: 6px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}
